@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


body {
  margin :0;
  font-family: 'Poppins', sans-serif;
  align-items: center;
  justify-content: center;
  display: flex;
  min-height: 100vh;
  background: url('./Assets/background.jpg');
  background-size: cover;
  background-position: center;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}